<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/index.css" />
  </head>
  <body>
    <nav class="w-full mx-4">
      <div
        class="w-full px-10 py-3 flex justify-between text-white bg-zinc-700 items-center"
      >
        <h3 class="text-lg">Pinterest</h3>
        <div class="flex gap-10 items-center">
          <a href="/login" class="px-4 py-2 bg-red-500 rounded-full"> Login</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="column">
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/1408221/pexels-photo-1408221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Pink flowers</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/736230/pexels-photo-736230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/2350377/pexels-photo-2350377.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
      </div>
      <div class="column">
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/3601531/pexels-photo-3601531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Pink flowers</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/772520/pexels-photo-772520.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/3262437/pexels-photo-3262437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
      </div>
      <div class="column">
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/1697912/pexels-photo-1697912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Pink flowers</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/1591140/pexels-photo-1591140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/2057047/pexels-photo-2057047.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
      </div>
      <div class="column">
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/60909/rose-yellow-flower-petals-60909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/4121204/pexels-photo-4121204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/4122767/pexels-photo-4122767.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
        <div class="content-wrapper">
          <div class="image-wrapper">
            <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">twitter.com</button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png"
                    alt=""
                  />
                </button>
                <button class="round-button">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/512/512142.png"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <img
              src="https://images.pexels.com/photos/2626152/pexels-photo-2626152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt=""
            />
          </div>
          <p>Cool image</p>
        </div>
      </div>
    </div>
  </body>
</html>
